.error {
  color: red;
  font-size: 0.8rem;
  text-align: center;
}

.success {
  color: green;
  font-size: 0.8rem;
  text-align: center;
}

.linkReady {
  color: green;
  font-size: 1.8rem;
  text-align: center;
  padding: 0 10px;
}

.link {
  cursor: pointer;
  text-decoration-color: transparent;
  text-decoration-line: underline;
  transition: all 0.2s;

  &:hover {
    text-decoration-color: green;
  }
}
