.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: rgb(115, 115, 115);
  background-color: var(--lightGrey);
  padding: 20px;
  justify-content: space-between;

  @media (max-width: 768px) {
    gap: 30px;
  }
}

.label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
}

.input {
  position: relative;
  border-radius: 10px;
  height: 38px;
  width: 80%;
  border: 1px solid rgb(204, 204, 204);
  padding-left: 10px;

  &:focus {
    outline: 2px solid var(--darkViolet);
    border: 1px transparent solid;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.errorWrapper {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  bottom: -20px;
  left: 0;
}

.errorMessage {
  color: red;
  font-size: 12px;
  width: 80%;
}

.hidden {
  visibility: hidden;

  @media (max-width: 768px) {
    display: none;
  }
}
