.wrapper {
  background-color: white;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 24px;
}

.previewWrapper {
  padding: 20px 20px 180px 20px;
  background-color: var(--darkViolet);
  margin: 0;
  border-radius: 0;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: white;
}

.previewHeaderContent {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 12px;
}

.flex {
  display: flex;
  gap: 10px;
}
