.wrapper {
  display: flex;
  align-items: center;
  color: rgb(115, 115, 115);
  background-color: var(--lightGrey);
  padding: 20px;
  justify-content: space-between;
}

.restriction {
  font-size: 0.8rem;
  max-width: 200px;
}
