@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap');

html {
  font-family: 'Instrument Sans', sans-serif;
}

body {
  background-color: rgb(250, 250, 250);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkViolet: rgb(99, 60, 255);
  --lightViolet: rgb(239, 235, 255);
  --darkGrey: rgb(115, 115, 115);
}
