.button {
  color: rgb(99, 60, 255);
  border: 1px solid rgb(99, 60, 255);
  width: 114px;
  height: 46px;
  border-radius: 12px;
  font-weight: 500;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
