.wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: calc(60% - 20px);
  padding: 40px;
  padding-bottom: 180px;
  border-radius: 24px;
  margin-right: 16px;
}

.mobile {
  width: calc(100% - 20px);
  margin-left: 16px;
}
